<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Tus proyectos</h1>
  <p class="lead">Aquí puedes encontrrar todos los proyectos que has creado</p>
</div>

{{!-- Mostrar los mensajes en caso de existir --}}
{{#if mensajes}}
  {{#each mensajes}}
    <div class="alert {{type}}" role="alert">
      {{error}}
    </div>
  {{/each}}
{{/if}}

<div class="container">
  <div class="d-flex flex-row-reverse">
    <a href="/nuevo_proyecto" class="btn btn-success btn-lg mb-2">Nuevo proyecto</a>
  </div>
  <div class="card-deck mb-3 text-center">
    {{!-- Mostrar los proyectos (si existen) --}}
    {{#if proyectos}}
        {{#each proyectos}}
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h3 class="font-weight-normal">{{dataValues.nombre}}</h3>
              </div>
              <div class="card-body">
                  <h5 class="card-title">{{dataValues.descripcion}}</h5>
                  <p class="card-text">{{dataValues.fecha}}</p>
                  <a href="/proyecto/{{dataValues.url}}" class="btn btn-primary btn-lg">Actualizar</a>
              </div>
            </div>
        {{/each}}
    {{else}}
      <h4>Aún no tienes ningún proyecto. ¡Anímate a crear uno!</h4>
      <a href="/nuevo_proyecto" class="btn btn-primary btn-lg">Crear un proyecto</a>
    {{/if}}
  </div>
</div>