<div class="d-flex align-items-center bg-purple rounded">
  <h1 class="mt-3">Tus proyectos</h1>
</div>

{{!-- Mostrar los mensajes en caso de existir --}}
{{#if mensajes}}
  {{#each mensajes}}
    <div class="alert {{type}}" role="alert">
      {{error}}
    </div>
  {{/each}}
{{/if}}

<div class="container">
{{!-- Mostrar los proyectos (si existen) --}}
{{#if proyectos}}
    {{#each proyectos}}
        <div class="card">
            <h4 class="card-header">{{dataValues.nombre}}</h4>
            <div class="card-body">
                <p class="card-text">{{dataValues.descripcion}}</p>
                <p class="card-text">{{dataValues.fecha}}</p>
                <a href="#" class="btn btn-primary">Ver proyecto</a>
            </div>
        </div>
    {{/each}}
{{else}}
  <h4>Aún no tienes ningún proyecto. ¡Anímate a crear uno!</h4>
  <a href="/nuevo_proyecto" class="btn btn-primary btn-lg">Crear un proyecto</a>
{{/if}}
</div>